@charset "UTF-8";
/*====================================================================
Reset
====================================================================*/
html {
  color: #222;
  background: #fff;
}

html, body, div, figure, section, header, footer, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  *font-size: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 100%;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*-----------------------------------------------
@keyframes
------------------------------------------------*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes confetti {
  0% {
    opacity: 0;
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    opacity: 1;
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 50vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 70vh);
  }
  86% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 80vh);
  }
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    opacity: 1;
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 50vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 70vh);
  }
  86% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 80vh);
  }
}
/*====================================================================
COMMON LAYOUT
====================================================================*/
body {
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-feature-settings: "palt" 1;
}

/*-----------------------------------------------
PC/SP
------------------------------------------------*/
.u-pcDb {
  display: block;
}

.u-pcDib {
  display: inline-block;
}

.u-pcDin {
  display: inline;
}

.u-pcDf {
  display: flex;
}

.u-pcDt {
  display: table;
}

.u-pcDtc {
  display: table-cell;
}

.u-spDb,
.u-spDib,
.u-spDin,
.u-spDf,
.u-spDt,
.u-spDtc {
  display: none;
}

@media screen and (max-width: 768px) {
  .u-pcDb,
.u-pcDib,
.u-pcDin,
.u-pcDf,
.u-pcDt,
.u-pcDtc {
    display: none;
  }

  .u-spDb {
    display: block;
  }

  .u-spDib {
    display: inline-block;
  }

  .u-spDin {
    display: inline;
  }

  .u-spDf {
    display: flex;
  }

  .u-spDt {
    display: table;
  }

  .u-spDtc {
    display: table-cell;
  }
}
/*===========================
    Buttons
===========================*/
.btn-backToDashboard {
  width: 128px;
  height: 28.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #4EA899;
  border-radius: 30px;
  font: bold 0.875rem/1.5 hiraginoKaku;
  color: #fff;
  cursor: pointer;
  transition: all 0.6s ease-in-out 0s;
}
@media screen and (min-width: 769px) {
  .btn-backToDashboard:hover {
    opacity: 0.5;
  }
}
@media all and (-ms-high-contrast: none) {
  .btn-backToDashboard {
    line-height: 3;
  }
}

/*====================================================================
loginPage
====================================================================*/
.loginPage {
  background: #4EA899;
}

/*====================================================================
loginPageLoginSec
====================================================================*/
.loginPageLoginSec {
  position: relative;
  height: 100vh;
  /*===========================
  loginPageLoginSec__innerLoginArea
  ===========================*/
  /*===========================
    inputCheckCustom
  ===========================*/
}
.loginPageLoginSec__inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.loginPageLoginSec__logoThumb {
  max-width: 243px;
  height: 100%;
}
.loginPageLoginSec__innerLoginArea {
  margin: 55px auto 0;
  padding: 47.5px 60px 43.5px;
  width: 100%;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 5px 2px rgba(36, 19, 8, 0.13);
}
.loginPageLoginSec__inputTextField {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
}
.loginPageLoginSec__inputPassField {
  margin-top: 15px;
}
.loginPageLoginSec__inputCheckField {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.loginPageLoginSec__inputUserField {
  position: relative;
}
.loginPageLoginSec__inputUserField:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 28px;
  width: 14.41px;
  height: 11.275px;
  background: center/contain no-repeat url("../images/common/ico_mail.svg");
}
@media all and (-ms-high-contrast: none) {
  .loginPageLoginSec__inputUserField:before {
    top: 44%;
    width: 13px;
    height: 11px;
  }
}
.loginPageLoginSec__inputPassField {
  position: relative;
}
.loginPageLoginSec__inputPassField:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  width: 11.21px;
  height: 15.96px;
  background: center/contain no-repeat url("../images/common/ico_lock.svg");
}
@media all and (-ms-high-contrast: none) {
  .loginPageLoginSec__inputPassField:before {
    top: 44%;
    width: 11px;
    height: 15.5px;
  }
}
.loginPageLoginSec__inputText {
  padding-left: 53.5px;
  width: 380px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid #4EA899;
  background: none;
  color: #432815;
  font-size: 12px;
  font-weight: 300;
}
.loginPageLoginSec__inputText::-moz-placeholder {
  color: #432815;
  font-size: 12px;
}
.loginPageLoginSec__inputText:-ms-input-placeholder {
  color: #432815;
  font-size: 12px;
}
.loginPageLoginSec__inputText::placeholder {
  color: #432815;
  font-size: 12px;
}
.loginPageLoginSec__inputLabel {
  margin-left: 11px;
  font-size: 14px;
  font-weight: 300;
  color: #432815;
}
.loginPageLoginSec__loginButton {
  display: block;
  margin: 48px auto 0;
  width: 250px;
  height: 50px;
  background: #4EA899;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.6s ease-in-out 0s;
}
@media screen and (min-width: 769px) {
  .loginPageLoginSec__loginButton:hover {
    opacity: 0.8;
  }
}
.loginPageLoginSec__inputCheckCont {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border: 2px solid #7B3A35;
  border-radius: 4px;
}
.loginPageLoginSec__inputCheck {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0;
  cursor: pointer;
}
.loginPageLoginSec__inputCheck:checked ~ .loginPageLoginSec__checkmark {
  opacity: 1;
}
.loginPageLoginSec__checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  background: center/contain no-repeat url("../images/common/ico_check.svg");
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

/*====================================================================
dashboardPage
====================================================================*/
.dashboardPage {
  padding-top: 79px;
  background: #F8F5F5;
  /*===========================
  dashboardPage__dataList
  ===========================*/
  /*===========================
  dataList
  ===========================*/
  /*===========================
  dashboardPage__pagination
  ===========================*/
}
.dashboardPage .dashboardPage__dataList {
  position: relative;
  margin-top: 22px;
  width: 100%;
  min-height: 571px;
}
.dashboardPage .dataList__fixed {
  position: relative;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  border-radius: 40px;
  box-shadow: 0 8px 10px 2px rgba(36, 19, 8, 0.09);
}
.dashboardPage .dataList__fixed::-webkit-scrollbar {
  height: 8px;
}
.dashboardPage .dataList__fixed::-webkit-scrollbar-track {
  background: rgba(36, 19, 8, 0.1);
}
.dashboardPage .dataList__fixed::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(78, 168, 153, 0.5);
}
.dashboardPage .dataList__fixed::-webkit-scrollbar-thumb:hover {
  background: #4ea899;
}
.dashboardPage .dataList__table {
  width: 100%;
  background: #fff;
  border: 0 !important;
  font: 300 0.8125rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.dashboardPage .dataList__table thead tr th {
  padding-top: 25px;
  box-sizing: content-box;
  height: 30px;
  border: 0;
}
.dashboardPage .dataList__table tbody tr {
  height: 54px;
}
.dashboardPage .dataList__table tbody tr:nth-child(odd) {
  background: rgba(242, 240, 237, 0.7);
}
.dashboardPage .dataList__table tbody tr.selected {
  background: rgba(78, 168, 153, 0.2);
}
.dashboardPage .dataList__table tbody tr td {
  vertical-align: middle;
}
.dashboardPage .dataList__dataSelectBox {
  margin: auto 72px auto 0;
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border: 0.25px solid #333;
  border-radius: 4px;
}
.dashboardPage .dataList__inputSelect {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  opacity: 0;
  cursor: pointer;
}
.dashboardPage .dataList__inputSelect:checked ~ .dataList__inputCusCheck {
  opacity: 1;
}
.dashboardPage .dataList__inputCusCheck {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: center/contain no-repeat url("../images/common/ico_check.svg");
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
.dashboardPage .dataList__itemAnchor {
  transition: all 0.6s ease-in-out 0s;
}
@media screen and (min-width: 769px) {
  .dashboardPage .dataList__itemAnchor:hover {
    opacity: 0.6;
  }
}
.dashboardPage .dataList__itemSelect {
  padding-left: 24px;
  min-width: 92px;
  width: 92px !important;
}
.dashboardPage .dataList__itemPurchaseDate {
  padding-left: 94px;
  min-width: 249px;
  width: 249px !important;
}
.dashboardPage .dataList__itemBuyerAccount {
  min-width: 434px;
  width: 434px !important;
}
.dashboardPage .dataList__itemBuyerContent {
  min-width: 724px;
  width: 724px !important;
}
.dashboardPage .dataList__itemPurchasePrice {
  min-width: 160px;
  width: 160px !important;
}
.dashboardPage .dataList__itemDeviceName02 {
  padding-left: 94px;
  min-width: 546px;
  width: 546px !important;
}
.dashboardPage .dataList__itemBuyerName02 {
  min-width: 576px;
  width: 576px !important;
}
.dashboardPage .dataList__itemPurchaseNo02 {
  min-width: 354px;
  width: 354px !important;
}
.dashboardPage .dataList__itemPurchaseTotal02 {
  min-width: 207px;
  width: 207px !important;
}
.dashboardPage .dashboardPage__pagination {
  padding-left: 230px;
  padding-right: 58.5px;
  margin: 44px auto;
}
.dashboardPage .dashboardPage__pagination .dataTables_paginate span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
.dashboardPage .dashboardPage__pagination .dataTables_paginate .paginate_button {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #E95200;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  font: 100 0.8125rem/1.5 Helvetica Neue, Helvetica, Arial, Meiryo, sans-serif;
  color: #E95200;
  transition: all 0.3s ease-in-out 0s;
}
.dashboardPage .dashboardPage__pagination .dataTables_paginate .paginate_button.current {
  background: #4EA899;
  border-color: #4EA899;
  color: #fff;
}
.dashboardPage .dashboardPage__pagination .dataTables_paginate .paginate_button:not(:first-child) {
  margin-left: 8.5px;
}
.dashboardPage .dashboardPage__pagination .dataTables_paginate .paginate_button:hover {
  background: #4EA899;
  border-color: #4EA899;
  color: #fff;
}

.dataTables_empty {
  padding-left: 24px;
}

.dataList__table {
  width: 100%;
}

.dataTables_length {
  display: none;
}

.dataTables_filter {
  display: none;
}

.api_route {
  display: none;
}

.dataTables_scrollBody {
  background: white;
}

/*===========================
dashboardPageHeaderSec
===========================*/
.dashboardPageHeaderSec {
  padding: 0 45px 0 22.5px;
  width: 100%;
  height: 79px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #4EA899;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.dashboardPageHeaderSec__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.dashboardPageHeaderSec__currentPageText {
  margin-left: 52.5px;
  font: bold 1.25rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #fff;
}
@media all and (-ms-high-contrast: none) {
  .dashboardPageHeaderSec__currentPageText {
    position: relative;
    top: 3px;
  }
}
.dashboardPageHeaderSec__logoThumb {
  width: auto;
  height: 65.5px;
}
.dashboardPageHeaderSec__anchor {
  display: block;
}
.dashboardPageHeaderSec__logoutButton {
  width: 40px;
  height: 40px;
  background: center/contain no-repeat url("../images/common/ico_logout.svg");
  transition: all 0.6s ease-in-out 0s;
}
@media screen and (min-width: 769px) {
  .dashboardPageHeaderSec__logoutButton:hover {
    opacity: 0.8;
  }
}

/*===========================
  Sidebar @ dashboard
===========================*/
.dashboardPageSideSec {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 79px;
  width: 221px;
  height: 100%;
  padding: 59px 16px;
}
.dashboardPageSideSec__item {
  padding-left: 32px;
  width: 100%;
  border-radius: 11px;
  box-shadow: 1px 1px 10px 2px rgba(36, 19, 8, 0.13);
  transition: all 0.5s ease-in-out 0s;
}
@media screen and (min-width: 769px) {
  .dashboardPageSideSec__item:hover {
    opacity: 0.6;
  }
}
.dashboardPageSideSec__item:not(:first-child) {
  margin-top: 13px;
}
.dashboardPageSideSec__item.isActive {
  background: #4EA899;
}
.dashboardPageSideSec__item.isActive .dashboardPageSideSec__itemText {
  color: #fff;
}
.dashboardPageSideSec__itemAnchor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 45.5px;
}
.dashboardPageSideSec__itemText {
  text-decoration: none;
  font: 600 0.875rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #241308;
}
@media all and (-ms-high-contrast: none) {
  .dashboardPageSideSec__itemText {
    position: relative;
    top: 3px;
  }
}

/*===========================
dashboardPageActionSec
===========================*/
.dashboardPageActionSec {
  margin-top: 73px;
  padding-left: 222px;
}
.dashboardPageActionSec__bar {
  position: relative;
  padding-right: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.dashboardPageActionSec.dashboard02 {
  padding-left: 222px;
}
.dashboardPageActionSec.dashboard02 .dataListSearchAction {
  margin-left: 0;
}

/*===========================
Filter Checkbox @ actionBar
===========================*/
.dataListFilterAction {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.dataListFilterAction__filterOption {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border: 0.25px solid #333;
  border-radius: 4px;
}
.dataListFilterAction__filterInput {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  opacity: 0;
  cursor: pointer;
}
.dataListFilterAction__filterInput:checked ~ .dataListFilterAction__filterCusCheck {
  opacity: 1;
}
.dataListFilterAction__filterCusCheck {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background: center/contain no-repeat url("../images/common/ico_check.svg");
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
.dataListFilterAction__filterSubmit {
  margin-left: 18px;
  width: 128px;
  height: 28px;
  background: #4EA899;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font: bold 0.7188rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #fff;
  transition: all 0.6s ease-in-out 0s;
}
@media screen and (min-width: 769px) {
  .dataListFilterAction__filterSubmit:hover {
    opacity: 0.5;
  }
}
@media all and (-ms-high-contrast: none) {
  .dataListFilterAction__filterSubmit {
    line-height: 3;
  }
}

/*===========================
Search @ actionBar
===========================*/
.dataListSearchAction {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 28px;
}
.dataListSearchAction__input {
  padding: 0 10px 0 50px;
  width: 228px;
  height: 28.5px;
  border: 1px solid #1C1612;
  border-radius: 30px;
  font-family: hiraginoKaku;
  font: 300 0.8125rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #fff;
}
.dataListSearchAction__input::-moz-placeholder {
  font: 300 0.6875rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.dataListSearchAction__input:-ms-input-placeholder {
  font: 300 0.6875rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.dataListSearchAction__input::placeholder {
  font: 300 0.6875rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
.dataListSearchAction__searchSubmit {
  margin-left: 10px;
  font-size: 0;
  width: 16.835px;
  height: 18.42px;
  background: center/contain no-repeat url("../images/common/ico_search.svg");
  cursor: pointer;
  transition: all 0.6s ease-in-out 0s;
}
@media screen and (min-width: 769px) {
  .dataListSearchAction__searchSubmit:hover {
    opacity: 0.6;
  }
}
@media all and (-ms-high-contrast: none) {
  .dataListSearchAction__searchSubmit {
    width: 16px;
    height: 16px;
  }
}

/*===========================
  DataList status @ dashboard
===========================*/
.dataListStatus {
  position: absolute;
  right: 88.5px;
}
@media all and (-ms-high-contrast: none) {
  .dataListStatus {
    bottom: 0;
  }
}
.dataListStatus__text {
  font: 300 0.75rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #241308;
  color: #241308;
}

.dashboardDetailPage__detailCont {
  margin-top: 15px;
  padding-left: 222px;
  padding-right: 58.5px;
}

.detailContInner {
  padding: 24px 22px 47.5px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 8px 10px 2px rgba(36, 19, 8, 0.09);
}
.detailContInner__buyerNameText {
  font: bold 1.0625rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #432815;
}
.detailContInner__deviceNameText {
  margin-top: 15px;
  font: 300 0.875rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #432815;
}
.detailContInner__purchaseDetail {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.detailContInner__purchaseDetailNoText {
  font: 300 0.875rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #432815;
}
.detailContInner__purchaseDetailTotalNoText {
  margin-left: 108.5px;
  font: 300 0.875rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #432815;
}
.detailContInner__tableCont {
  margin-top: 20px;
  border-radius: 16px;
  border: 0.5px solid #461111;
}
.detailContInner__table {
  width: 100%;
  font: 300 0.8125rem/1.5 Helvetica Neue, Helvetica, Arial, "\6E38\30B4\30B7\30C3\30AF", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #432815;
}
.detailContInner__table thead tr td {
  padding-top: 25px;
  box-sizing: content-box;
  height: 30px;
}
.detailContInner__table tbody tr td {
  height: 54px;
  vertical-align: middle;
}
.detailContInner__table tbody tr:nth-child(odd) {
  background: rgba(242, 240, 237, 0.7);
}
.detailContInner__itemDateTime {
  padding-left: 42px;
  width: 263.5px;
}
.detailContInner__itemPurchaseContent {
  min-width: 250px;
}
.detailContInner__itemPurchasePrice {
  min-width: 142.5px;
}