// color
$white: #fff;
$black: #222;
$gray: #666;
$lightGray: #efefef;
$darkGray: #212121;
$activeRed: #fb3e1d;
$lotus: #7B3A35;
$whiterock: #EFE9DE;
$trinidad: #E95200;
$pearlbush: #E6E0D3;
$dovegray: #707070;



$brownderby: #432815;
$graphite: #241308;
$mineshaft: #333;
$hintofred: #F8F5F5;
$tradewind: #4EA899;
$zeus: #1C1612;
$paco: #461111;
$pampas: #F2F0ED;



// breakpoints
$mainSize: 1440px;
$contentCenter: 1140px;
$windowPC: 769px;
$windowSP: 768px;


// header height
$headerHeightPC: 100px;
$headerHeightSP: 50px;
$footerHeightPC: 96px;
$footerHeightSP: 50px;
